* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #060417;
    color: #fff;
}

.container {
    max-width: 1300px !important;
    margin : 0 auto;
    position: relative;
}

@media (max-width: 1300px) {
    .container {
        padding: 0 1.5rem;
    }
}

.hero-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    padding-left: 50px;
}

.hero-container::after,
.hero-container::before {
   content: "";
   width: 28rem;
   height: 28rem;
   border-radius: 28rem;
   background-color: #7e61ef;
   position: absolute;
   z-index: -1;
   filter: blur(28rem);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 3rem;
    right: 0.5rem;
}

.hero-content {
    flex: 1;
}

.hero-content .subtitle {
    text-transform: capitalize;
}

.hero-content .title {
    font-size : 3.8rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: capitalize;
    padding: 2rem 0 2rem 0 ;
 
}

.hero-content .title span{
    text-transform: uppercase;
}

.hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 2rem;
}

.hero-img {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-img > div {
    display: flex;
    align-items: flex-end;
    gap:2rem;
    padding: 2rem;
}

.hero-img img {
    border-radius: 40%;
    background: linear-gradient(90deg, #a993a9 0%, #7e61ef 100%);
    background-repeat: no-repeat;
}

.tech-icon {
    width: 5rem;
    height: 5rem;
}

.tech-icon img {
    width: 4rem;
    height: auto;
    transition: all 0.3s ease;
    padding: 0.6rem;
}

.tech-icon img:hover {
    transform: translateY(-0.5rem);
}

@media (max-width:1025px) {
    .hero-content .title {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .hero-img > div> img {
        width: 20rem;
    }

    .tech-icon {
        width: 4rem;
        height: 4rem;
    }

    .tech-icon img {
        width: 3rem;
    }
}

@media (max-width:768px) {

    .hero-container {
        flex-direction: column;
    }

    .hero-content {
        padding-top: 3rem;
    }

    .hero-img {
        margin: 2rem 0 2rem 0;
    }

    .hero-content .title,
    .hero-content p ,
    .hero-content .subtitle {
        width: auto;
    }
    
}

@media (max-width:600px) {

    .hero-content .title {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .hero-content p {
        font-size: 0.8rem;
    }

    .hero-img {
        gap: 1rem
    }

    .hero-img > div {
      gap: 1rem;
    }

    .hero-img > div > img{
        gap: 16rem;
    }

    .tech-icon {
        width: 2rem;
    }
}

@media (max-width:425px) {

    .hero-img > div> img {
        width: 20rem;
    }
}
/**experience-container**/
.experience-container {
    position: relative;
    padding-left: 50px;
}

.experience-container h5 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {

    .experience-container h5 {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
}

.experience-card {
    background:  #130f2a;
    border-radius: 0.55rem;
    border:  0.2rem solid #6751b9;
    padding: 1.5rem;
    margin: 0 1rem;
    min-height: 448px;
}

.experience-card h6 {
    font-size:  1.5rem;
    font-weight: 500;
    padding-bottom: 0.7rem;
    color: white;
}

.duration {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    background: #6751b9;
    border-radius: 0.5rem;
    padding: 0.4rem 0.5rem;
    margin-bottom: 1.3rem;
}

.experience-card ul li {
    color: white;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}

.experience-card ul li::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #6751b9;
    border-radius: 50%;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;
}

img.skill-icon {
    max-width: 2.33rem;
    margin: 1rem 1rem;
}

img.skill-icon:hover {
    transform: translateY(-0.5rem);
}

.skills-icon {
    display: flex;
  
}

@media (max-width: 768px) {
    .experience-card {
        margin: 0;
    }

    .experience-card h6 {
        font-size: 0.95rem;
    }

    .experience-card ul li {
        font-size: 0.70rem;
    }
}
/**projects-container**/
.projects-container {
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
    }

.projects-container::after,
.projects-container::before {
   content: "";
   width: 28rem;
   height: 28rem;
   border-radius: 28rem;
   position: absolute;
   z-index: -1;
   filter: blur(23rem);
}

.projects-container::after {
    top: -3rem;
    left: -5rem;
    background-color: #dd8cfade
}

.projects-container::before {
    bottom: 3rem;
    right: 0.5rem;
    background-color: #aa94fe;

}

.projects-container h5 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}


@media (max-width: 992px) {

    .projects-container h5 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

}
@media (max-width: 600px) {
      .projects-container {
        padding: 0;
      }
      .gallery ul li {
        width: 87.245614% !important;
    }
    .projects-container {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        padding-left: 64px;
    }
}




/************/

  
  .row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both;
    display: flex;
  }
  .row img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  
  .gallery ul li {
    float: left;
    margin: 0 0.8771929825%;
    overflow: hidden;
  }
  
  header {
    background-color: #84b4b1;
    color: #fff;
    text-align: center;
    padding: 30px 0 120px;
  }
  header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
  }
  header h1 span {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
    line-height: 1;
  }
  header p {
    padding-top: 30px;
  }
  
  .gallery {
    padding: 20px 0 300px;
    position: relative;
    overflow: hidden;
  }
  .gallery ul {
    padding-top: 50px;
    position: relative;
  }
  .gallery ul li {
    margin-bottom: 20px;
    width: 23.2456140351%;
    position: relative;
  }
  .gallery ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  .gallery ul li a:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40%;
    left: 50%;
    margin: -14px 0 0 -16px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
    content: "";
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .gallery ul li a:hover:before {
    top: 50%;
    opacity: 1;
  }
  .gallery ul li a:after {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .gallery ul li a:hover:after {
    opacity: 1;
  }
  
  .port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    background: #ffffff;
    background-color: #fafafa;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .port img {
    width: 50%;
  }
  .port .description {
    float: left;
    width: 50%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
  }
  .port h1 {
    font-size: 35px;
    line-height: 2.3;
    padding: 0;
  }
  .port > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .port > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  
  .close {
    width: 21px;
    height: 21px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
    position: absolute;
    right: 10px;
    top: -121px;
    opacity: 1;
    z-index: 1004;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .item_open .close {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }


  .icon_project{
    display: flex;
    width: 116px;
}

.description>h1 {
    color: #060417;
}
.footer {
    font-size: 0.9rem;
    text-align: center;
    background-color: #7e61ef;
    padding: 1rem;
}